body{
    background-color: #272424;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-decoration: none;
}
.nav_link{
    color: #ffffff;
    text-decoration: none;
    display: flex;              /* Cambia a flex */
    justify-content: center;    /* Centra horizontalmente */
    align-items: center;        /* Centra verticalmente */
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #d61818ff;
    border-radius: 100px;
}
.panel_p {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1600px;
    margin: 0 auto;
    height: 900px;
}

.nav_p {
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    background-color: #42404000;
    border-radius: 10px;
    width: 110px;
    
    border-color: rgb(117, 119, 119);
    border-style: solid;
    border-width: 1px;
}
.uso{
    width: 109px;
    height: 110px;
    background-color: #4257b6;
    border-radius: 100px;
    display: flex;              
    justify-content: center;    
    align-items: center;        
    text-align: center;
}
.desuso{
    width: 109px;
    height: 110px;
    background-color: #1e1e1e;
    border-radius: 100px;
    display: flex;              
    justify-content: center;    
    align-items: center;        
    text-align: center;
}

.info{
    background-color:  rgb(117, 119, 119);
    display: grid;
    color: #fff;
    font-size: 18px;
    margin-left: 120px;
    margin-top: -880px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    
}